<html></html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>
<title>Catio @ Baraga Flats</title>
</head>
<body style="background-color:#1c87c9;">
<center>
<h1>Bee and Crocket's Catio</h1>

<h3>Est. May 19, 2024</h3>

<div class="container">
<iframe class="responsive-iframe" src="https://catio.baragaflats.com/catio" scrolling="no"></iframe>
</div>
</center>
</body>
</html>